/*
* Anna Kelly
* 4/30/19
* Table Web Page
*/

/* the universal selector */

* {

}

/* Body properties here */

body {background-color: black;
    font-family:sans-serif
}


header{
    background-color: #333399;
    color: white;
}

main{
    background-color: #9999ff;
    color: #333399;
}

footer{
    background-color: #9999ff;
    color: #333399;
}

h1{
    text-align: center;
    font-size: 350%;
    font-family:monospace;
}

figure {float: center;
color:white;
background-color: #333399} 

#sweetdreams {
    width: 300px;
    height: 300px;
}

#gorillaz {
    width: 400px;
    height: 300px;
    
}

ul{
    background-color: white;
    color: #9999ff;
}

a:link{
    color: #9999ff;
    text-decoration: underline;
}

a:hover{
    color: #333399;
    text-decoration: none;
}